<div class="recommended-container" *ngIf="topRatedTVShows">
    <p class="cast">
        Top Rated TV Shows
    </p>
    <div class="my-carousel3">
        <!-- Mobile section : one image per slide -->
    
        <!-- Desktop section : multiple images per slide -->
        <ngb-carousel #carousel *ngIf="!mobile" [interval]="0">
            <ng-template ngbSlide *ngFor="let group of topRatedTVShowsFormatted">
                <div class="row flex-row flex-nowrap">
                    <div class="col" *ngFor="let rec of group">
                        <a routerLink="/watch/tv/{{rec.id}}" rel="nofollow noopener noreferrer">
                            <div id="slides-container">
                                <div style="opacity: 0;">Padding</div>
                                <img width="235px" class="img-responsive" style="float:left" [src]="rec.poster_path">
                                <div class="overlay">
                                    <div class="overlay-text-container">
                                        <h3 class="overlay-text">{{rec.title}}</h3>
                                    </div>
                                </div>
                                <div style="opacity: 0;">Padding</div>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>